[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/Gerry546/meta-rauc.git
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "sources/meta-browser"]
	path = sources/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "sources/meta-homeassistant"]
	path = sources/meta-homeassistant
	url = https://github.com/Gerry546/meta-homeassistant.git
