[Unit]
Description=Home Assistant

[Service]
Type=simple
User=@HOMEASSISTANT_USER@
ExecStartPre=/usr/bin/HA-setup
ExecStart=/usr/bin/hass --skip-pip -c "@HOMEASSISTANT_CONFIG_DIR@"
Restart=on-failure

[Install]
WantedBy=multi-user.target
