[Unit]
Description=Home Assistant Setup Service
After=networ.target

[Service]
Type=oneshot
User=@HOMEASSISTANT_USER@
ExecStart=/usr/bin/HA-setup
Restart=no

[Install]
WantedBy=multi-user.target
